.about-page {
    font-family: Staatliches;
    background-color: #EBECED;    
    height: 100vh;
    width: 100vw;
    color: #3E3E3B;
}

.infos {
    display: flex;
}

.headshot {
    height: 65vh;
    margin: 12px 100px 0 150px;
    border-radius: 10px;
}

.about-info {
    margin: 8px 150px 100px 0;
}

.intro {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 16px;
}

.paragraph {
    font-family: Thasadith;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

