.getting-me-component{
    display: flex;
    flex-direction: column;
    margin: 100px 100px 0 100px;
}

.getting-me-title {
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 3rem;
    border-bottom: solid 2px black;
}

.getting-me-list {
    padding: 56px 0;
    padding-right: 100px;
}

.getting-me-hobbies {
    display: flex;
    flex-direction: row;
    font: bold 16px Be Vietnam;
    margin: 0 24px;
    margin-bottom: 56px;
}

.getting-me-first {
    min-height: 100px;
    min-width: 300px;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 815px) {

    .getting-me-component{
        display: flex;
        flex-direction: column;
        margin: 48px 24px 0 24px;
    }

    .about-me-item-pic {
        width: 80vw;
        height: 100px;
    }

    .getting-me-list {
        padding: 18px 0;
    }

    .getting-me-hobbies {
        display: flex;
        flex-direction: column;
        font: bold 16px Be Vietnam;
        margin: 0 24px;
        margin-bottom: 0;
    }
    
    .getting-me-first {
        min-height: 3em;
        justify-content: flex-start;
        display: flex;
    }

}