
.home-page {
    font-family: Staatliches;
    background-color: #a2aab0;
    height: 100vh;
    width: 100vw;
}

.home-info {
    justify-content: center;
}

.name {
    color: white;
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 250px;
    text-align: center;
}

.title {
    color: #4C586F;
    font-family: Thasadith;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}

