.summary-component {
    display: flex;
    flex-direction: column;
    margin: 200px 100px 0 100px;
}
.summary-header {
    display: flex;
}

.summary-headshot{
    border-radius: 245px;
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.summary-description {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 64px;
}

.summary-text {
    font-weight: 700;
    &.large {
        font-size: 70px;
    }
    &.medium {
        font-size: 46px;
    }
}

.summary-paragraphs {
    margin-top: 64px;
}

.summary-paragraph {
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 815px) {

    .summary-component {
        display: flex;
        flex-direction: column;
        margin: 200px 48px 0 48px;
    }

    .summary-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .summary-headshot{
        border-radius: 245px;
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .summary-description {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    
    .summary-text {
        font-weight: 700;
        &.large {
            font-size: 24px;
        }
        &.medium {
            font-size: 20px;
        }
    }
    .summary-paragraphs {
        margin-top: 36px;
    }

}
