.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    padding: 32px 0;
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
    transition: all 0.10s ease-in-out
}

.menu__link:hover {
    color:white;
    transform: scale(1.1);
}

.menu__link--active {
    color: white;
    border-bottom: 4px solid white;
    font-weight: 700;
}