.footer {
    margin-top: 48px;
    width: 100%;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-right: 40px
}

p {
  color: black;
  font-family: Be Vietnam;
}

@media only screen and (max-width: 815px) {
  footer {
    justify-content: center;
    margin-right: 0;
  }
}