@import '../../App.scss';

.footer {
    margin-top: 48px;
    width: 100%;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  flex-direction: column;
}

p {
  color: $light-primary;
  font-family: Be Vietnam;
  margin-right: 40px;
  align-self: flex-end;
}

.footer-connect {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 3em;
  margin: auto;
  align-items: center;
  border: none;
  box-shadow: none;
  color: $light-violet-accent;
  border: 1px solid $light-violet-accent;
  background: none;
  border-radius: 10px;
  &:hover {
      background: lighten($light-violet-accent, 15%);
      color: $light-background;
      transition: transform ease-in 0.2s;
      transform: scale(1.02)
  }
  &:focus {
      box-shadow: none;
  }
}


.footer-icon {
  margin-right: 8px;
}

@media only screen and (max-width: 815px) {
  footer {
    justify-content: center;
    margin-right: 0;
  }

  .footer-connect {
    font-size: 14px;
    width: 300px;
    margin-top: 50px;
  }
  p {
    align-self: center;
    margin-right: 0;
    margin-top: 24px;
  }
}